.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  flex-shrink: 0;
  height: 220px;
  color: aliceblue;
  /* border: solid 2px red; */

  justify-content: space-between;
  text-decoration: none;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  padding: 25px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;

  font-size: 20px;
  background-color: black;
}

.card:hover {
  transform: scale(1.05);
  /* Aumenta o card em 5% */
  z-index: 5;
  /* Garante que ele fique na frente dos vizinhos */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  /* Sombra para dar profundidade */
}

.titulo-card-heard {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-top: 200px;

  /* tira o flex */
  display: block;
  line-height: 1.2;
  overflow: visible;
}
