.fotofilme {
    opacity: 0.5;
    transition: all 0.3s ease; /* suaviza qualquer mudança */
    border-radius: 12px;       /* opcional, só p/ ficar mais bonito */
}

/* efeito no hover */
.fotofilme:hover {
    opacity: 1;
    transform: scale(1.05); /* aumenta 5% */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); /* sombra para dar “salto” */
}
