.filmes {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 80px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin-left: 45px;
    padding: 20px;
    margin-bottom: -80px;
}

.carroselNum {
    display: flex;
    flex-direction: row;
    gap: 38px;
    margin-left: 30px;
    width: max-content; /* necessário para scroll animado */
    position: relative;
    align-items: center;
    overflow: hidden;
    scroll-behavior: smooth;
    cursor: grab;

    /* Animação automática */
    animation: scrollCarrossel 30s linear infinite;
}

@keyframes scrollCarrossel {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-25%); /* ajuste conforme conteúdo total */
    }
}

.fotoNum {
    display: flex;
    width: 190px;
    height: 250px;
    margin-left: -30px;
    margin-top: 22px;
    border-radius: 10px;
    flex-shrink: 0;
}

.fotoNum:hover {
    z-index: 10;
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
}

.conjuntoNum {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}

.numero {
    font-weight: 800;
    font-style: normal;
    font-size: 320px;
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #4d4d4d;
    margin-right: -30px;
}

.link-num {
    text-decoration: none;
}