.minhaLista{
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 100px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    margin-left: 45px;
    padding: 20px;
    gap:10px;
    font-weight: 500;
    margin-bottom: -80px;
}
.carrosel{
    display: flex;
    flex-direction: row;
    gap: 7px;
    width: auto;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 3.5rem 0;
    scroll-behavior: smooth;
    overflow-clip-margin: content-box;
    cursor: grab;
    
}
.carrosel::-webkit-scrollbar {
  height: 8px; /* Altura da barra de scroll */
}

.carrosel::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor do "caminho" do scroll */
  border-radius: 4px;
}

.carrosel::-webkit-scrollbar-thumb {
  background: #888; /* Cor do "pegador" do scroll */
  border-radius: 4px;
}

.carrosel::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor quando passa o mouse por cima */
}
.carrosel {
  /* ... (as propriedades de antes: display, overflow-x, etc) ... */

  /* Para Firefox */
  scrollbar-width: none; 
  /* Para Chrome, Safari e Edge */
  &::-webkit-scrollbar {
    display: none;
  }
}

.carrosel:active{
    cursor: grabbing;
}
