/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.all-container{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.info-avaliacao{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  gap: 20px;
  text-align: center;
  color: white;
  margin-right: 40px;
}

.foto-avatar-comentario{
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 100%;

}

.avaliação-texto{
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  font-size: 56px;
}

.comentario-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: auto;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1rem 0;
  padding: 50px 10px;
  
  scroll-behavior: smooth;
  overflow-clip-margin: content-box;
  cursor: grab;
  
}

.lista-comentarios{
  display: flex;
  flex-direction: row;
  gap:14px

}

.avalicao{
  font-size: 20px;
}

/* Card de comentário */
.comentario {
  position: relative;
  transition: 100ms ease-in-out;
  border-radius: 10px;
  width: 250px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  color: white;
  background: rgba(240, 248, 255, 0.08);
  backdrop-filter: blur(4px); /* dá um efeito de vidro */;
  cursor: pointer;

}

.comentario:hover{
  scale: 1.08;
}

.comentario-header {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.comentario-texto {
  color: white;
}

.estrelas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  color: #cfcfcf;
}

.estrela {
  color: rgba(255, 255, 0, 0.896);
}

