.detInical {
    display: flex;
    flex-direction: column;
    padding-top: 370px;
    margin-left: 60px;
    color: white;
   
}

.title {
    display: flex;
    flex-direction: column;
    width: 400px;
    font-family: "Chelsea Market", serif;
    font-weight: 400;
    font-style: normal;
}

.nomeFilme1 {
    font-size: 60px;
    font-weight: 600;
}

.nomeFilme2 {
    width: 300px;
    font-weight: 500;
    font-size: 20px;
    
}

.info-pai {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition-duration: none;
 
   
    margin-top: 40px;
    

}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 40px;
    transition-duration: none;    
}

.assistir {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    color: black;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 30px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}

.assistir:hover {
    background-color: #e6e6e6;
}
.mais{
    color: rgb(219, 218, 218);
    width: fit-content;
}

.mais-informacoes {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(255, 255, 255); /*color do botão de infor*/
    font-weight: 500;
    border-radius: 8px;
    font-size: 30px;
    margin-left: 12px;
    padding: 12px 28px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    text-decoration: none;
    width: fit-content;
    
}


.logoNet {
    display: flex;
    align-items: center;
    gap: 5px;
}

.volume {
    border-radius: 100%;
    padding: 10px;
    width: 23px;
    height: 23px;
    border: solid;
}


.circulo {
    width: 10px;
    height: 30px;
}

.logo {
    color: red;
    width: 24px;
    height: 24px;
}

.nomeFilm {
    color: rgb(203, 203, 203);
}
.filme-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 700px;        
    width: fit-content;      

    background-color: rgba(0, 0, 0, 0.297); 
    padding: 24px;
    border-radius: 12px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(2px); 
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
}

.filme-card:hover{
    transform: translateY(-4px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
}

.filme-img-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #1f1f1f;
}

.filme-img-wrapper img {
  width: 100%;
  height: auto; 
  object-fit: contain;
  display: block;
}