.Banner{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}      

.BannerImg{
    border-radius: 20px;
    border-radius: 20px;
    width: 100%;

    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1) 85%, rgba(0,0,0,0));
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;

    mask-image: linear-gradient(to right, rgba(0,0,0,1) 85%, rgba(0,0,0,0));
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}      
