.nav-bar-pai{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: normal;
    gap: 20px;
    margin-bottom: 140px;
    padding-left: 30px;
    justify-content: space-between;
    background-image: linear-gradient(to top, #6f6f6f01, #000000FF);
    z-index: 1000;
    
 
    
}

.link{
    cursor: pointer;
    transition:  color 200ms ease;
    color: aliceblue;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem{
    display: flex;
    align-items: center;
    height: 100px;
    
}

.link:hover{
    color:rgb(169, 169, 169);
    text-decoration: none;
    
}

.nav-bar-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    
    
}

.nav-bar-conta{
    display: flex;
    margin-right: 100px;
    gap: 10px;
     align-items: center;
    cursor: pointer;
    transition:  color 200ms ease;
    font-size: 25px;
    
}

.linkconta{

    
    color: white;
    text-decoration: none;
    font-size: 25px;

}

.conta:hover{
    color:rgb(169, 169, 169);

}

.foto-conta {
    width: 40px;
    height: 40px;
}